@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('ttf'),
         url('../fonts/Roboto/Roboto-Bold.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

/*fonts*/
$font-family-primary: 'Roboto', sans-serif;

/*colors*/
$background-image:linear-gradient(90deg,  #efcdff, #640088);
$background-image-title:linear-gradient(90deg,#640088, #efcdff);
$first-title-color: #640088;
$primary-color: #640088;
$secondary-color: #efcdff;
$third-color: darkmagenta;
$forth-color: violet;
$white-color: white;
$border-color: #ccc;
$button-disabled-color: #ccc;
