@import 'variables.scss';
@import 'mixins.scss';


// Styles généraux pour les appareils mobiles
//Container pour l'affichage de la liste des articles
.BlogDetail {
    margin: 10px;
    line-height: 1.5;
    //h1 pour le titre de l'article
    .title {
        color: $secondary-color;
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
    //h2 pour le sous-titre de l'article
    .secondTitle {
        color: $first-title-color;
        text-align: center;
        margin: 10px;
    }
    //p pour le contenu de l'article
    .secondContainer {
        color: $secondary-color;
        text-align: justify;
        margin: 10px;
    }
    //bouton de retour
    .backButton {
        color: white;
        border: none;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        list-style: none;
        text-decoration: none;
        background-color: $primary-color;
        border-radius: 5px;
    }
}

// Media Query pour les écrans plus larges (tablettes et ordinateurs)
@media (min-width: 768px) {
    .BlogDetail {
        margin: 20px;
    }

    .title {
        padding: 20px;
        font-size: 1.5rem;
    }

    .secondTitle {
        font-size: 1.3rem;
    }

    .secondContainer {
        font-size: 1.1rem;
    }

    .backButton {
        padding: 15px;
        font-size: 1rem;
    }
}

// Media Query pour les écrans encore plus larges (ordinateurs)
@media (min-width: 1024px) {
    .BlogDetail {
        margin: 30px;
    }

    .title {
        padding: 25px;
        font-size: 2rem;
    }

    .secondTitle {
        font-size: 1.6rem;
    }

    .secondContainer {
        font-size: 1.2rem;
    }

    .backButton {
        padding: 20px;
        font-size: 1.2rem;
    }
}

