@import '_variables.scss';

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    font-family: $font-family-primary;

    .main{
        flex: 1; 
    }
}


