@import 'variables.scss';
@import 'mixins.scss';

// Styles par défaut pour les appareils mobiles
.dashboardAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondary-color;
    text-align: left;
    padding: 10px;

    .dashboardTitles,
    .dashboardSecondTitles {
        margin: 10px;
        padding: 10px;
        text-align: center;
    }

    .dashboardTitles {
        font-size: 20px;
    }

    .dashboardSecondTitles {
        background-color: $third-color;
        font-size: 18px;
        border-radius: 10px;
    }

    .create{
        margin:30px 0 50px 0;;
    }

    .create a {
        color: $white-color;
        border: 5px solid $third-color;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        text-decoration: none;
        font-size: 15px;
        border-radius: 5px;
    }

    ul {
        list-style: none;
        padding: 0;
        font-size: 15px;

        li a {
            text-decoration: none;
            color: $forth-color;
            margin: 10px;
        }
    }

    button {
        font-size:10px;
        color: $white-color;
        cursor: pointer;
        background-color: $third-color;
        border-radius: 20px;
        margin:10px;
    }

    .dashboardLogOut {
        margin: 10px;
        padding: 10px;
        text-align: center;
        color: $third-color;

        button {
            color: $third-color;
            cursor: pointer;
            background-color: $white-color;
            border-radius: 30px;
        }
    }
}

// Media Query pour les tablettes (écrans de 768px et plus)
@media (min-width: 768px) {
    .dashboardAdmin {
        padding: 20px;

        .dashboardTitles,
        .dashboardSecondTitles {
            margin: 15px;
            padding: 15px;
            font-size: 1.2rem;
        }

        .create a {
            padding: 15px;
            margin: 15px;
            font-size: 1rem;
        }

        ul li a {
            font-size: 1rem;
        }
    }
}

// Media Query pour les ordinateurs de bureau (écrans de 1024px et plus)
@media (min-width: 1024px) {
    .dashboardAdmin {
        justify-content: space-between;
        padding: 30px;

        .dashboardTitles,
        .dashboardSecondTitles {
            font-size: 25px;
        }

        .create a {
            padding: 20px;
            font-size: 1.2rem;
        }

        ul li a {
            font-size: 20px;
        }

        button {
            font-size: 15px;
        }
    }
}

