@import '_variables.scss';

footer {
    background-image: $background-image;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}