@import '_variables.scss';

//Barre de navigation
.nav {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-image: $background-image;
    border-radius: 5px;
    width: 100%;
    font-weight: 800;
    font-size: 20px;
    text-align: center;

    //Gestion du logo
    .logo {
        width: 100px; 
        height: 100px;
    }

    //Gestion du slogan
    .secondTitle {
        width:50%;
        height:auto;
        margin:0;
        padding:0;
    }

    h1{
        display:none;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column; 
        gap: 8px;
        padding: 0;

        li {
            cursor: pointer;

            a {
                text-decoration: none;
                color: #efcdff;
            }
        }
    }

    // Écrans plus grands (tablette)
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        padding-right: 10px;

        .logo {
            width: 200px;
            height: 200px;
        }

        .secondTitle {
            width:60%;
            height:auto;
            margin:0;
            padding:0;
        }

        ul {
            flex-direction: row;
            gap: 10px;
        }
    }
}
